$bg-color-primary: #f4f4f4; // - основной цвет фона
$bg-color-dark:#686868;
$text-color-primary: #111321; // - основной цвет текста
$text-color-accent: #4440F6; // - основной акцента текста


// @media (min-width: $mobile) {
//     background-color: $bg-color-primary;
// }

// @media screen and (min-width: $tablet) {
//     // background-color: yellow;
// }

// @media screen and (min-width: $desktop) {
//     // background-color: tomato;
// }