.button-menu {
    display: flex;

    margin: 0;
    padding: 0;
    border: none;

    background-color: $bg-color-primary;

    & .icon-close {
        display: none;
    }

    &.is-open .icon-menu {
        display: none;
    }

    &.is-open .icon-close {
        display: block;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.darl .icon-menu {
    // background-color: $bg-color-dark;
    background-color: green;
    fill: red;
    stroke: yellow;
    color: chartreuse;
}